:root{

  --bg-primary:#876c57 ;
}


header{

  background-color: var(--bg-primary) !important;
}



/* Product Card CSS */
.card{
  background-color: var(--bg-primary) !important;
  
  
}

.cardList{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.cardButton{
  background-color: #b5a28d;
  
}

.cardImage{
  max-width: 100%;
}

.cardBody{
  height: 400px;
  width: 500px;
  text-align: center;
  font-size: 20px;
}

.cardTitle{
  
}

.cardDescription{
  
}