

:root{

  --bg-color:#93745f ;
  --text-color:#beb961;
  --form-header-color: #beb961;
  --white-color:#fff;
  --black-color:#000;
}


body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Dancing Script"!important;
  font-family: "Dancing Script","Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  color: #1a1a1a;
}


header,footer{

  background-color: var(--bg-color) !important;
  color:var(white-color);
  
  
}

h1,h2,h3,h4{
  font-family: "Dancing Script"!important;
 
}



h1{
  font-weight:bold !important;
  font-size: 2.8rem !important;
  color:var(--text-color) !important;
}
/*Sign Up Form Styling*/

/* .card{

  background-image: url('./images/tea-image.jpg');
} */

.card{

  border-radius: 10px !important;
  outline:none;

  
}
.form-card{
  background-color: var(--form-header-color) !important;

}
.card-header{
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: var(--form-header-color) !important;
  color:var(--black-color) !important;
}

input{
  outline:none !important;
  padding:0.3rem !important;
}

button,.btn{

  background-color:var(--bg-color);
  outline:none;
  border: none;
}

a{
  color:var(--text-color)!important;
  text-decoration: none!important;
  font-size: 1.5rem;
  padding-right:2rem; 
}

label{

  padding: 1rem !important;
}

.nav-icon{

  font-size: 2rem;
  color:var(--text-color)!important;
}
.profile-name,.search-bar{
  color:var(--text-color)!important;
  font-size: 1.1rem;
}

.email-template{

  background-image: url('./images/tea-image.jpg');
  color:#000;
}